<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <script src="{{#if stoplightJSUrl}}{{stoplightJSUrl}}{{else}}web-components.min.js{{/if}}" async ></script>
  <link rel="shortcut icon" href="{{favicon}}" type="image/x-icon">
  <link rel="stylesheet" href="{{#if stoplightCSSUrl}}{{stoplightCSSUrl}}{{else}}styles.min.css{{/if}}">
  <style>
    .sm {
      display: none;
    }

    @media screen and (max-width: 1200px) {
        .lg {
            display: none ;
        }
        .sm {
            display: block;
        }
    }

  </style>
</head>

<body style="height:100vh">
  <div class="lg" style="height:100%">
    <elements-api
      {{#if apiDescriptionDocument}}apiDescriptionDocument ='{{apiDescriptionDocument}}'{{/if}}
      {{#if apiDescriptionUrl}}apiDescriptionUrl ='{{apiDescriptionUrl}}'{{/if}}
      {{#if basePath}}basePath='{{basePath}}'{{/if}}
      {{#if hideInternal}}hideInternal='{{hideInternal}}'{{/if}}
      {{#if hideTryIt}}hideTryIt='{{hideTryIt}}'{{/if}}
      {{#if hideSchemas}}hideSchemas='{{hideSchemas}}'{{/if}}
      {{#if hideExport}}hideExport='{{hideExport}}'{{/if}}
      {{#if tryItCorsProxy}}tryItCorsProxy='{{tryItCorsProxy}}'{{/if}}
      {{#if tryItCredentialPolicy}}tryItCredentialPolicy='{{tryItCredentialPolicy}}'{{/if}}
      layout="{{#if layout}}{{layout}}{{else}}sidebar{{/if}}"
      {{#if logo}}logo='{{logo}}'{{/if}}
      {{#if router}}router='{{router}}'{{/if}}
    ></elements-api>
  </div>
  <div class="sm" style="height:100%">
    <elements-api
      {{#if apiDescriptionDocument}}apiDescriptionDocument ='{{apiDescriptionDocument}}'{{/if}}
      {{#if apiDescriptionUrl}}apiDescriptionUrl ='{{apiDescriptionUrl}}'{{/if}}
      {{#if basePath}}basePath='{{basePath}}'{{/if}}
      {{#if hideInternal}}hideInternal='{{hideInternal}}'{{/if}}
      {{#if hideTryIt}}hideTryIt='{{hideTryIt}}'{{/if}}
      {{#if hideSchemas}}hideSchemas='{{hideSchemas}}'{{/if}}
      {{#if hideExport}}hideExport='{{hideExport}}'{{/if}}
      {{#if tryItCorsProxy}}tryItCorsProxy='{{tryItCorsProxy}}'{{/if}}
      {{#if tryItCredentialPolicy}}tryItCredentialPolicy='{{tryItCredentialPolicy}}'{{/if}}
      layout="{{#if layout}}{{layout}}{{else}}stacked{{/if}}"
      {{#if logo}}logo='{{logo}}'{{/if}}
      {{#if router}}router='{{router}}'{{/if}}
    ></elements-api>
  </div>
</body>

</html>